body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background: rgb(0, 19, 136);
    background: linear-gradient(90deg, rgba(0, 19, 136, 1) 0%, rgba(0, 19, 136, 1) 50%, rgba(0, 116, 197, 1) 50%);
    -webkit-text-size-adjust: 100%;
}

.auth-box {
    width: 900px;
    margin: 7% auto;
}

@media (max-width: 750px) {
    .auth-box {
        width: 70%;
        margin: auto;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
    }
}

.auth-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #102360;
}

.auth-box-image {
    background: #102360;
    padding: 20px;
    border-top: 0;
    color: #fff;
    justify-content: center;
}

.cubes {
    background-image: url("/images/banners/cubes.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    padding: 5px;
    width: 85%;
    height: 65%;
}

.btn-orange {
    color: #ffffff;
    background-color: #FC8B04;
    border-color: #FC8B04;
    box-shadow: none;
    font-size: 20px;
    font-weight: bold;
}

.text-sx {
    color: #0074C5 !important;
}

.text-custom {
    color: #102360 !important;
}

.btn-orange:hover {
    color: #ffffff;
    background-color: #FC8B04;
    border-color: #FC8B04;
}

.btn-orange:focus,
.btn-orange.focus {
    color: #ffffff;
    background-color: #FC8B04;
    border-color: #FC8B04;
    box-shadow: none, 0 0 0 rgba(252, 139, 4);
}

.line {
    border-top: 2px solid #FB8A04;
    height: 5px;
    max-width: 350px;
    padding: 0;
    margin: 1px auto 75px auto;
}