.navbar-custom {
    background-color: #0074C5;
}

.levelOne {
    color: currentColor;
    cursor: not-allowed;
    opacity: 1;
    text-decoration: none;
    pointer-events: none;
    font-size: 18px;
}

.levelTwo {
    color: currentColor;
    cursor: not-allowed;
    opacity: 1;
    text-decoration: none;
    pointer-events: none;
    font-size: 15px;
    font-weight: bold;
    margin-left: 4px;
}

.icono {
    padding-left: 8px;
}

.title-page {
    font-size: 24px;
    margin-top: -5px;
    color: #0074C5;
    margin-bottom: -5px;
    font-weight: bold;
}

.sx-icons {
    color: #0074C5;
}

.sidebar .user-panel .image div {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.user-panel .image {
    padding-top: 4px !important;
}

.setting-icon {
    top: 35px;
    color: #001388;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    text-align: center;
    font-size: 11px;
    padding: 3px;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 42%);
}

.profile {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 3px solid #B0A8A8;
    padding: 3px;
    border-radius: 100%;
}

.username {
    font-size: 21px;
    margin-top: 5px;
}

.tenant-name {
    color: #102360;
    cursor: not-allowed;
    opacity: 1;
    text-decoration: none;
    pointer-events: none;
    font-size: 18px;
    font-family: "Segoe UI";
    display: flex;
    align-items: center;
    margin-top: -5px;
    justify-content: center;
}

.text-sx-one {
    color: #102360 !important;
}

.text-sx-two {
    color: #001388 !important;
}

.text-sx-three {
    color: #0074C5 !important;
}

.text-sx-orange {
    color: #FC8B04 !important;
}

.btn-back {
    color: #979797!important;
}

.btn-save {
    color: #fff;
    background-color: #001388;
    border-color: #001388;
    box-shadow: none;
}

.btn-save:hover {
    color: #fff;
    background-color: #001388;
    border-color: #001388;
}

.btn-save:focus,
.btn-save.focus {
    color: #fff;
    background-color: #001388;
    border-color: #001388;
    box-shadow: 0 0 0 rgb(0, 19, 136);
}

.btn-save.disabled,
.btn-save:disabled {
    color: #fff;
    background-color: #001388;
    border-color: #001388;
}

.btn-save:not(:disabled):not(.disabled):active,
.btn-save:not(:disabled):not(.disabled).active,
.show>.btn-save.dropdown-toggle {
    color: #fff;
    background-color: #001388;
    border-color: #001388;
}

.btn-save:not(:disabled):not(.disabled):active:focus,
.btn-save:not(:disabled):not(.disabled).active:focus,
.show>.btn-save.dropdown-toggle:focus {
    box-shadow: 0 0 0 rgb(0, 19, 136);
}

.btn-edit {
    color: #fff;
    background-color: #0074c5;
    border-color: #0074c5;
    box-shadow: none;
}

.btn-edit:hover {
    color: #fff;
    background-color: #0074c5;
    border-color: #0074c5;
}

.btn-edit:focus,
.btn-edit.focus {
    color: #fff;
    background-color: #0074c5;
    border-color: #0074c5;
    box-shadow: 0 0 0 rgb(0, 116, 197);
}

.btn-edit.disabled,
.btn-edit:disabled {
    color: #fff;
    background-color: #0074c5;
    border-color: #0074c5;
}

.btn-edit:not(:disabled):not(.disabled):active,
.btn-edit:not(:disabled):not(.disabled).active,
.show>.btn-edit.dropdown-toggle {
    color: #fff;
    background-color: #0074c5;
    border-color: #0074c5;
}

.btn-edit:not(:disabled):not(.disabled):active:focus,
.btn-edit:not(:disabled):not(.disabled).active:focus,
.show>.btn-edit.dropdown-toggle:focus {
    box-shadow: 0 0 0 rgb(0, 116, 197);
}

.btn-cancel {
    color: #ffffff;
    background-color: #B0A8A8;
    border-color: #B0A8A8;
    box-shadow: none;
}

.btn-cancel:hover {
    color: #ffffff;
    background-color: #B0A8A8;
    border-color: #B0A8A8;
}

.btn-cancel:focus,
.btn-cancel.focus {
    color: #ffffff;
    background-color: #B0A8A8;
    border-color: #B0A8A8;
    box-shadow: none, 0 0 0 0 rgba(82, 88, 93, 0.5);
}

.btn-cancel.disabled,
.btn-cancel:disabled {
    color: #ffffff;
    background-color: #B0A8A8;
    border-color: #B0A8A8;
}

.btn-cancel:not(:disabled):not(.disabled):active,
.btn-cancel:not(:disabled):not(.disabled).active,
.show>.btn-cancel.dropdown-toggle {
    color: #ffffff;
    background-color: #B0A8A8;
    border-color: #B0A8A8;
}

.btn-cancel:not(:disabled):not(.disabled):active:focus,
.btn-cancel:not(:disabled):not(.disabled).active:focus,
.show>.btn-cancel.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5);
}

.table-custom {
    background-color: #001388;
    color: #fff;
    font-weight: bold;
}

.table-defaul {
    background-color: #C4C4C4;
    color: #000;
    font-weight: bold;
}

.btn-excel {
    margin-left: 11px;
    width: 40px;
    background-color: #0074C5 !important;
    border-color: #0074C5 !important;
    color: #fff !important;
}